@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* ### Neutral */

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* Mobile first design */

body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree";
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
}
h1,
h2 {
  color: var(--Dark-Grayish-Blue);
}
p {
  color: var(--Grayish-Blue);
  font-size: 18px;
}
header {
  width: 100%;
  height: max-content;
  padding: 2rem;
  background-image: url(../images/bg-header-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}

header img {
  width: 150px;
}

main {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0 2rem;
  overflow: hidden;
}

main > section {
  width: 100%;
  position: relative;
  display: block;
}

main :nth-child(1) h1,
main > section h2 {
  position: relative;
  width: 240px;
  margin: 15px auto;
}

button {
  margin: 1.2rem auto;
  display: block;
  padding: 1rem;
  width: 80%;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.ios-btn {
  /* to style ios button */
  background-color: var(--Strong-Cyan);
  border-bottom: 3px groove var(--Strong-Cyan);
  box-shadow: 0px 3px 12px -2px var(--Strong-Cyan);
}

.mac-btn {
  background-color: var(--Light-Blue);
  border-bottom: 3px groove var(--Light-Blue);
  box-shadow: 0px 3px 12px -2px var(--Light-Blue);
}

.img-container {
  position: relative;
  width: 100%;
}

.img-container img {
  width: 250px;
  margin: 2rem auto;
}

.wrapper div {
  /* Container of the divs */
  margin: 4rem 0;
}

.sponsor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor img {
  width: 100px;
  margin: 2rem 0;
}

main :last-child h2 {
  width: 70%;
}

main :last-child p {
  width: 80%;
  margin: 2.5rem auto;
}

footer {
  width: 100%;
  margin-top: 15rem;
  background-color: rgba(211, 211, 211, 0.5);
}
footer ul {
  list-style: none;
  margin: 1rem 0;
}

a {
  color: var(--Dark-Grayish-Blue);
  text-decoration: none;
}
footer ul li {
  padding: 1rem 0;
}
li img {
  width: 50px;
  margin-top: 3rem;
}
.social-media {
  display: flex;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.social-media img {
  /* To make space between social media images */
  padding: 0 1rem;
}

/* Laptop */

@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header img {
    width: 200px;
  }

  main section {
    width: 100%;
  }

  main :nth-child(1) h1,
  main > section h2 {
    width: 100%;
    margin: 1rem auto;
  }

  main :nth-child(1) p {
    width: 600px;
    margin: 1rem auto;
  }

  button {
    display: inline;
    width: 300px;
    margin: 1rem;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0;
    padding: 1rem;
  }

  .img-container img {
    width: 600px;
  }

  .wrapper > div h2 {
    margin: 0;
  }

  .wrapper > div p {
    /* This to make the paragraph align to the left and reset from the mobile settings*/
    width: 100%;
    margin: 20px 0;
  }

  .head-lines {
    /* To move the search text to right */
    position: relative;
    right: 5rem;
  }

  .devices-image {
    /* To add space between the image of devices and the text */
    margin: 4rem 0;
  }

  .icons {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 0 2rem;
  }

  .icons div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
  }

  .icons div h2,
  .icons div p {
    width: 100%;
  }
  .icons div p {
    line-height: 2rem;
  }
  .icons img {
    width: 50px;
    margin: 1rem auto;
  }

  .icons :first-child p {
    /*  to reset the margin of the first paragraph */
    position: relative;
    margin: 40px 0;
  }

  /* Here goes the sponsors  */

  .sponsor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 4rem 0;
  }

  .sponsor img {
    width: 100px;
  }

  /* Starting footer */

  footer section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  ul li {
    margin: 0 2rem;
  }

  .footer-img {
    margin: 0 2rem;
  }

}
